OPENAI_API_KEY= #Open AI API Key for making AI Requests to Open Ai
PUSHOVER_USER= #Pushover.net account user key
PUSHOVER_TOKEN= #Pushover.net Application/API Token key
EMAIL_SMTP_SERVER= #SMTP Server root url
EMAIL_APP_PASSWORD= #Email app password (for gmail myaccount.google.com/apppasswords)
EMAIL_ADDRESS= #My email address (aremonych...)
DEFAULT_MODEL_NAME= #Default name of the preffered model
USE_EMAIL= #True/False, determines if agent should send email or pus notification to pushify
SERPER_API_KEY = # API key for SERPER API used to get google search results