OPENAI_API_KEY= #Open AI API Key for making AI Requests to Open Ai
PUSHOVER_USER= #Pushover.net account user key
PUSHOVER_TOKEN= #Pushover.net Application/API Token key
EMAIL_SMTP_SERVER= #SMTP Server root url
EMAIL_APP_PASSWORD= #Email app password (for gmail myaccount.google.com/apppasswords)
EMAIL_ADDRESS= #My email address (aremonych...)